{{ define "main" }}
<section
  class="min-h-[60vh] flex flex-col justify-center items-center text-center px-6 py-20 text-gray-700 dark:text-gray-300"
>
  <h1 class="text-xl font-bold text-[#f07f48]">404</h1>
  <h1 class="text-xl font-bold text-[#f07f48] mb-8">
    Halaman yang dituju nggak ketemu
  </h1>

  <p class="mb-4 text-gray-600 dark:text-gray-400 font-mono max-w-xl">
    Menyedihkan ketika tahu tempat yang dituju nggak ketemu... 🥲
  </p>

  <p class="text-gray-600 dark:text-gray-400 font-mono max-w-xl">
    Ya... bisa jadi salah jalan, bisa juga dari awal alamatnya nggak pernah ada.
  </p>

  <blockquote
    class="border-l-4 border-[#f07f48] pl-4 italic text-gray-600 dark:text-gray-400 font-mono my-8"
  >
    Atau... bukannya nggak ada, tapi belum waktunya ada.
    <br />
    Atau jangan-jangan, emang nggak perlu ada.

    <footer class="mt-2 text-sm text-[#659fb2] dark:text-[#85c9dc] font-mono">
      – Si Dikit, sambil ngaduk kopi yang tinggal dikit
    </footer>
  </blockquote>

  <p class="mb-8 text-gray-600 font-bold dark:text-gray-400 font-mono max-w-xl">
    "Cara terbaik ketika jalanmu buntu adalah kembali ke tempat pertama yang
    membuatmu merasa nyaman." 🥲
  </p>

  <a
    href="/"
    class="inline-block px-6 py-2 bg-[#f07f48] text-white font-semibold rounded hover:bg-[#e76a30] transition"
    >Kembalilah ke Rumah 🏠</a
  >
</section>
{{ end }}
